/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    text-align: center;
    background-color: #0550da;
    color: #fff;
    padding: 20px;
  }
  
  .profile-img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin: 10px 0;
    display: block;
    margin: 0 auto;
  }
  
  .job-title {
    margin: 10px 0;
    font-weight: bold;
  }
  
  .contact-info {
    font-weight: bold;
  }
  
  /* Sections styles */
  section {
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Section titles */
  h2 {
    font-size: 1.5em;
    color: #333;
    border-bottom: 2px solid #333;
  }
  
  /* List items styles */
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    color: #666;
  }
  
  /* Skills list */
  .skills ul li {
    display: inline;
    margin: 0 10px;
  }
  
  /* Certifications list */
  .certifications ul li {
    display: inline;
    margin: 0 10px;
    color: #0550da;
    font-size: large;
  }
  
  /* Languages list */
  .languages ul li {
    display: inline;
    margin: 0 10px;
  }
  
  /* Media queries for responsiveness */
  
  /* Small screens (e.g., smartphones) */
  @media (max-width: 767px) {
    header {
      padding: 10px;
    }
  }
  
  /* Medium screens (e.g., tablets) */
  @media (min-width: 768px) and (max-width: 1023px) {
    header {
      padding: 20px;
    }
  }
  
  /* Large screens (e.g., desktops) */
  @media (min-width: 1024px) {
    header {
      padding: 30px;
    }
  }
  
